.newsletter {
  background: #1b1d20;
  padding-top: 68px;
  padding-bottom: 60px;
}

.wrapperInput {
  margin-top: 40px;
}

.inputNewsletter {
  width: 540px;
  box-shadow: 0 24px 30px 0 rgba(63, 23, 159, 0.18);
  background-color: #ffffff;
  color: #50628b;
  height: 48px;
  border: 0;
  border-radius: 40px;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  font-family: 'Source Sans Pro', sans-serif !important;

  &::placeholder {
    color: #50628b;
  }
}

.btnSubscribe {
  position: absolute;
  right: -1px;
}
