.btnLink {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
  color: #ffffff;

  &:hover {
    color: #ff5733;
  }
}
