.navigation {
  z-index: 9999;
  width: 100%;
  top: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.logo {
  max-width: 220px;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
}

.wrapperMenuItem {
  margin-right: 20px;
}

.sticky {
  background-image: linear-gradient(to top, #111116, #07070b);
}
