.labelBase {
  padding: 8px 17px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 15px;

  @media (max-width: 767px) {
    padding: 5px 24px !important;
  }
}

.big {
  padding: 10px 22px;
  font-size: 20px;
  border-radius: 50px;
}
