.footer {
  padding-top: 120px;
  padding-bottom: 80px;
}

.listItem {
  max-width: 24%;
  flex: 0 0 24%;

  &:first-child {
    max-width: 32%;
    flex: 0 0 32%;
  }
}

.logoBottom {
  max-width: 220px;
}
