.sectionHeader {
  padding-top: 140px;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbfdff, #e7f1ff);
}

.subTitle {
  margin-top: 15px;
}

.ctaButton {
  margin-top: 40px;
}

.pattern {
  position: absolute;
  width: 100%;
  object-fit: contain;
  bottom: -18vh;
}

.gamePreview {
  position: absolute;
  bottom: -215px;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
}

.inner {
  position: relative;
}

.gameVideo {
  border-radius: 15px;
}

.sectionEnjoy {
  padding-top: 280px;
}

.tabsMenu {
  margin-top: 80px;
}

.mockup {
  position: absolute;
  right: -325px;
  top: -37px;
}

.sectionPrelist {
  margin-top: 110px;
}

.sectionGameList {
  margin-top: 65px;
}

.customWrapperTab {
  padding: 0;
  width: unset;
  min-width: 130px;
  min-height: 50px;
  margin-bottom: 40px;
  margin-right: 15px;
}

.containerTab {
  justify-content: flex-start;
}

.customLabel {
  font-weight: 500;
}

.customLabelActive {
  color: #ffffff !important;
}

.cardWrapperSizing {
  max-width: 23%;
  flex: 0 0 23%;
  margin-bottom: 30px;
}

.sectionUnlimited {
  margin-top: 60px;
  background-image: linear-gradient(to bottom, #ffffff, #e7f1ff);
  height: 750px;
  margin-bottom: 80px;
}

.laptopImage {
  position: absolute;
  left: 30px;
  bottom: -140px;
  max-width: 900px;
}
