.sectionHeader {
  padding-top: 140px;
  min-height: 100vh;
  background-image: linear-gradient(to top, #111116, #07070b);
}

.subTitle {
  margin-top: 15px;
}

.ctaButton {
  margin-top: 40px;
}

.pattern {
  position: absolute;
  width: 100%;
  object-fit: contain;
  bottom: -18vh;
}

.gamePreview {
  position: absolute;
  bottom: -215px;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
}

.inner {
  position: relative;
}

.gameVideo {
  border-radius: 15px;
}

.sectionEnjoy {
  padding-top: 280px;
  background: #07070b;
}

.tabsMenu {
  margin-top: 80px;
}

.mockup {
  position: absolute;
  right: -325px;
  top: -37px;
}

.sectionPrelist {
  padding-top: 110px;
  background: #07070b;
}

.sectionGameList {
  padding-top: 65px;
  background: #07070b;
}

.sectionGetStarted {
  padding-top: 75px;
  background: #07070b;
  padding-bottom: 100px;
}

.customWrapperTab {
  padding: 0;
  width: unset;
  min-width: 130px;
  min-height: 50px;
  margin-bottom: 40px;
  margin-right: 15px;
}

.containerTab {
  justify-content: flex-start;
}

.customLabel {
  font-weight: 500;
}

.customLabelActive {
  color: #ffffff !important;
}

.cardWrapperSizing {
  max-width: 23%;
  flex: 0 0 23%;
  margin-bottom: 30px;
}

.sectionUnlimited {
  padding-top: 60px;
  background: #1c1d20;
  height: 750px;
  padding-bottom: 80px;
}

.laptopImage {
  position: absolute;
  left: 50px;
  bottom: -100px;
  max-width: 55vw;
  z-index: 2;
}

.sectionMap {
  background: #07070b;
  padding-bottom: 100px;
  min-height: 670px;
}

.maps {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.moscow {
  left: 36.6vw;
  top: 29.5%;
}

.sectionSocialProof {
  background: #07070b;
  padding-bottom: 100px;
}

.patternBottom {
  position: absolute;

  z-index: 0;
}

.rightUnlimitedContent {
  right: 9vw;
  top: 12vh;
}

.testiRow {
  padding-top: 10px;
  padding-bottom: 20px;
  overflow: auto;
  padding-left: 30px;
  cursor: pointer;
  margin-top: 15px;
  -ms-overflow-style: none;
  width: 100vw;

  &::-webkit-scrollbar {
    display: none;
  }
}

.testiItem {
  padding: 20px;
  background: #ffffff;
  width: 340px;
  flex: 0 0 340px;
  margin-right: 30px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  -webkit-transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 0.2s ease;
  -moz-transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 0.2s ease;
  -o-transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 0.2s ease;
  -ms-transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 0.2s ease;
  transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 48px 81px 0 rgba(145, 148, 200, 0.24);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
  }
}

.iconPetik {
  padding-bottom: 7px;
}

.avatarIconTesti {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
