.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.7;
  z-index: 9999;
}

.contentSignin {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url('/static/img/panel-launch.png');
  width: 650px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 60px 40px;

  @media (max-width: 767px) {
    background-size: cover;
    width: 90%;
  }
}

.buttonCancelWrapper {
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  @media (max-width: 767px) {
    bottom: 37px;
  }
}

.indicatorItem {
  position: relative;
  align-items: center;

  img {
    max-width: 20px;
    margin-right: 7px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
    flex: 0 0 100%;
  }
}

.stepIndicator {
  margin-top: 75px;

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}
