.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.5;
  z-index: 9999;
}

.contentSignin {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: #edf4fe;
  background-image: url('/static/img/panel-signin.png');
  width: 500px;
  min-height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 60px 40px;

  @media (max-width: 767px) {
    background-size: cover;
    width: 90%;
  }
}

.iconClose {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -15px;
  max-width: 33px;
}

.wrapperSubTitle {
  margin-top: 6px;

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }

  & > div {
    margin-right: 5px;
  }
}

.formSignin {
  margin-top: 40px;
}

.important {
  position: absolute;
  top: -3px;
  right: -9px;
}

.inputText {
  width: 100%;
  outline: none;
  margin-top: 15px;
  padding: 15px 20px;
  border: 0;
  border-radius: 60px;
  background: rgba(127, 150, 224, 0.09);
  color: #50628b;
  font-size: 16px;
  font-family: 'Source Sans Pro';

  &::-webkit-input-placeholder {
    color: #50628b;
  }

  &::-ms-input-placeholder {
    color: #50628b;
  }

  &::placeholder {
    color: #50628b;
  }
}

.formField {
  margin-bottom: 25px;
}

.forgotPassoword {
  position: absolute;
  right: 15px;
  top: 0;
  cursor: pointer;
  font-size: 15px !important;
}

.showPassword {
  position: absolute;
  right: 15px;
  top: 30px;
  font-size: 15px !important;
  cursor: pointer;
}

.keepSignIn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.customButton {
  padding: 0 35px;
  height: 44px;
}
