.buttonBase {
  min-width: max-content;
  height: 54px;
  border-radius: 32px;
  box-shadow: 0 24px 30px 0 rgba(63, 23, 159, 0.18);
  background-image: linear-gradient(66deg, #804bff -65%, #804bff 116%);
  color: #ffffff;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
  border: 0;
  outline: none;
  padding: 0 45px;
}

.outline {
  border: 1px solid #804bff;
  background: #ffffff;
  color: #804bff;
  box-shadow: unset;
}

.small {
  font-size: 16px !important;
  font-weight: 500;
  padding: 0 30px;
}
